body{background-color: rgb(235, 255, 255);
     font-family: Arial, Helvetica, sans-serif;
	color: rgb(88, 9, 99);}
h1{text-align: center;}
header{background-color: rgb(214, 174, 219);}

nav{width: 200px;
     height: 150px;
    line-height:2 ;}

p{width: 600px;
height: 100px;
margin-left:  150px; }   

img{width: 200px;
float:right;
margin-right: 100px;}
img{width: 370px;
float:right;
margin-right: 260px;}
section{width: 90%;
        height: 300px; 
        margin:0 auto ;
     }
 article{width: 30%;
          height: 200px;
     float: left;
     border: thin solid rgb(0,0,0);
     border-radius: 10px;
padding: 30px 5px 0px 5px;
margin: 0 7px 30px 7px;}   

nav li{list-style-type: none;}